<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <item key="WebRootUrl" value=""/>
  <item key="NumberOfResultsPerPage" value="10"/>
  <item key="JanrainApiKey" value="cfdd99e0787cd37c28f93d35f1a0a5c1764a90db"/>
  <!--email config start-->
  <item key="SmtpHost" value="stmp.xx.com"/>
  <item key="SmtpUserDisplayName" value="SYDQ Administrator"/>
  <item key="SmtpUserAddress" value="xx@xx.com"/>
  <item key="SmtpUserPwd" value="xxxxxx"/>
  <item key="WriteEmailAsFile" value="true"/>
  <item key="EmailFileLocation" value="AppContent/AppData/EmailLocation"/>
  <!--email config end-->
  <item key="Log4NetName" value="LoggingForSYDQ"/>
  <item key="Log4NetConfigLocation" value="log4netConfig.xml"/><!--exclude app base url-->

</configuration>